.transition-group {
  min-height: 100vh;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
  position: absolute;
  opacity: 0;
  transform: translateX(50%);

  &.team-subview {
    top: 180px;
  }
}

.slide-left-leave-active,
.slide-right-enter {
  position: absolute;
  opacity: 0;
  transform: translateX(-50%);

  &.team-subview {
    top: 180px;
  }
}
