@mixin banner ($font-color, $background-color, $box-color, $box-special-color) {
  .banner {
    &-container {
      width: $main-width;
      position: relative;
      margin: $main-padding;

      @media screen and (max-width: 1000px) {
        width: calc(100% - #{$m-i8-banner-gap});
        min-height: calc((var(--box-width) + var(--box-gap)) * 5);
        margin: $m-i8-banner-gap;
        margin-right: 0;
      }

      @media screen and (max-width: 650px) {
        width: calc(100% - #{$m-i8-banner-gap});
      }

      &:before {
        content: '';
        width: calc(100% + #{$main-padding} * 2);
        height: calc(100% + #{$main-padding} * 2);
        top: -$main-padding;
        left: -$main-padding;
        position: absolute;
        background-color: $background-color;
        transition: background-color ease-in-out .3s;

        @media screen and (max-width: 1000px) {
          width: calc(100% + #{$m-i8-banner-gap});
          height: calc(100% + #{$m-i8-banner-gap * 2});
          top: -$m-i8-banner-gap;
          left: -$m-i8-banner-gap;
        }
      }

      &.popuped {
        position: fixed;
      }
    }
  
    &-bg {
      width: 100%;
      position: absolute;
      top: $banner-top;
      left: 0;

      @media screen and (max-width: 1000px) {
        width: 100%;
        top: $m-i8-banner-top;
      }
  
      svg {
        rect {
          fill: $box-color;
          transition: fill ease-in-out .3s;
  
          &.box-1-1 {
            fill: $box-special-color;
            transition: fill ease-in-out .3s;
          }
        }
      }
    }
  
    &-header {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      z-index: 1;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }

      @media screen and (max-width: 375px) {
        flex-direction: column;
      }
  
      h1.title,
      h2.subtitle,
      h3.flag,
      p {
        color: $font-color;
        transition: color ease-in-out .3s;
      }
  
      h1.title {
        font-size: 96px;
        line-height: 100px;
        margin-bottom: 64px;

        @media screen and (max-width: 2560px) {
          font-size: 96px * $zoom-2560;
          line-height: 100px * $zoom-2560;
          margin-bottom: 64px * $zoom-2560;
        }

        @media screen and (max-width: 1440px) {
          font-size: 96px * $zoom-1440;
        }

        @media screen and (max-width: 1000px) {
          position: absolute;
          top: calc(var(--sight-offset) - #{$m-i8-banner-top / 2});
          font-size: 48px;
          line-height: 1.2;
        }

        @media screen and (max-width: 375px) {
          position: absolute;
          top: calc(var(--sight-offset) - #{$m-i8-banner-top / 2});
          font-size: 48px;
          line-height: 1.2;
        }

        @media screen and (max-width: 320px) {
          font-size: 42px;
          line-height: 1.2;
        }
      }
  
      h2.subtitle {
        font-size: 72px;

        @media screen and (max-width: 2560px) {
          font-size: 72px * $zoom-2560;
        }

        @media screen and (max-width: 1440px) {
          font-size: 72px * $zoom-1440;
        }

        @media screen and (max-width: 1000px) {
          position: absolute;
          top: calc(var(--sight-offset) + var(--box-height) + var(--box-gap));
          font-size: 36px;
        }

        @media screen and (max-width: 375px) {
          position: absolute;
          top: calc(var(--sight-offset) + var(--box-height) + var(--box-gap));
          font-size: 36px;
        }

        @media screen and (max-width: 320px) {
          font-size: 28px;
        }
      }
  
      h3.flag {
        height: 108px;
        font-size: 48px;

        @media screen and (max-width: 2560px) {
          font-size: 48px * $zoom-2560;
        }

        @media screen and (max-width: 1440px) {
          font-size: 48px * $zoom-1440;
        }

        @media screen and (max-width: 1000px) {
          height: auto;
          font-size: 24px;
        }

        @media screen and (max-width: 375px) {
          height: auto;
          font-size: 24px;
        }

        @media screen and (max-width: 320px) {
          font-size: 18px;
        }
      }
      
      .view-box {
        width: var(--viewbox-width);
        height: var(--viewbox-height);

        @media screen and (max-width: 1000px) {
          width: calc(100vw - #{$m-i8-banner-gap});
          height: calc((var(--box-width) + var(--box-gap)) * 5);
          position: absolute;
        }

        @media screen and (max-width: 650px) {
          height: calc(100vh - #{$m-i8-banner-top});
          max-height: calc((var(--box-width) + var(--box-gap)) * 5);
        }

        &.side-menu {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          box-sizing: border-box;
          margin: $main-padding 0;
          margin-top: calc(#{$main-padding} + #{$banner-gap});
          padding: var(--box-gap) 0;
          width: calc(100% - var(--viewbox-width) * 2 + #{$main-padding} + var(--box-gap));
          height: calc(var(--viewbox-height) - #{$banner-gap});
          position: absolute;
          top: -$main-padding;
          right: -$main-padding;
          background-color: $background-color;
          border: 5px solid $font-color;

          @media screen and (max-width: 1440px) {
            border-width: 5px * $zoom-1440;
          }

          @media screen and (max-width: 1280px) {
            padding: 0;
          }

          @media screen and (max-width: 1000px) {
            width: calc(100vw - #{$m-i8-banner-inner-gap * 2});
            height: calc((var(--box-width) + var(--box-gap)) * 5);
            margin: 0;
            top: 0;
            left: calc(#{$m-i8-banner-inner-gap} - #{$m-i8-banner-gap});
            bottom: 0;
            background-color: transparent;
            border: none;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
          }

          @media screen and (max-width: 650px) {
            height: calc(100vh - #{$m-i8-banner-top});
            justify-content: space-between;
          }

          @media screen and (max-height: 568px) {
            height: calc(568px - #{$m-i8-banner-top});
          }
          
          a.button {
            display: inline-flex;
            background-color: $background-color;
            color: $font-color;
            text-decoration: none;
            margin: 25px 0;
            padding: 12px 48px;
            border: 5px solid $font-color;
            cursor: pointer;
            transition: all ease-in-out .3s;

            @media screen and (max-width: 1440px) {
              border-width: 5px * $zoom-1440;
              padding: 12px 48px * $zoom-1440;
            }

            @media screen and (max-width: 1000px) {
              border-width: 5px * $zoom-1024;
              padding: 12px 48px * $zoom-1024;
              margin: 0;
              margin-left: $m-i8-banner-inner-gap;

              p {
                font-size: 24px !important;
              }
            }

            @media screen and (max-width: 650px) {
              margin: 0;
              margin-bottom: 1.5rem;
            }

            @media screen and (max-width: 375px) {
              padding: 12px 18px;
              margin: 0;

              p {
                font-size: 24px !important;
              }
            }

            @media screen and (max-width: 320px) {
              padding: 6px 12px;
              margin: 0;

              p {
                font-size: 20px !important;
              }
            }

            &:hover {
              background-color: $font-color;
              
              p {
                color: $background-color;
              }
            }

            p {
              font-size: 36px;
              color: $font-color;

              @media screen and (max-width: 1440px) {
                font-size: 36px * $zoom-1440;
              }

              &:first-child {
                margin: 0;
              }
            }
          }
        }

        .define {
          @media screen and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: var(--box-width);
            margin-left: auto;
            margin-right: $m-i8-banner-inner-gap;
          }
        }

        p {
          font-size: 24px;
          line-height: 1.2;

          @media screen and (max-width: 2560px) {
            font-size: 24px * $zoom-2560;
          }

          @media screen and (max-width: 1440px) {
            font-size: 24px * $zoom-1440;
          }

          @media screen and (max-width: 1000px) {
            font-size: 12px;
          }

          @media screen and (max-width: 375px) {
            font-size: 12px;
          }

          @media screen and (max-width: 320px) {
            font-size: 10px;
          }

          &:first-child {
            margin-top: $banner-gap;
            font-size: 48px;

            @media screen and (max-width: 2560px) {
              font-size: 48px * $zoom-2560;
            }

            @media screen and (max-width: 1440px) {
              font-size: 48px * $zoom-1440;
            }

            @media screen and (max-width: 1000px) {
              margin-top: calc(#{$m-i8-banner-top} - 10px);
              font-size: 24px;
            }

            @media screen and (max-width: 375px) {
              margin-top: calc(#{$m-i8-banner-top} - 10px);
              font-size: 24px;
            }

            @media screen and (max-width: 320px) {
              margin-top: calc(#{$m-i8-banner-top} - 10px);
              font-size: 20px;
            }
          }
        }

        .board {
          position: absolute;
          display: inline-block;
          background-color: $background-color;
          color: $font-color;
          padding: 25px 40px;
          border: 5px solid $font-color;
          bottom: 0;

          @media screen and (max-width: 1440px) {
            border-width: 5px * $zoom-1440;
            padding: 25px * $zoom-1440 50px * $zoom-1440;
          }

          @media screen and (max-width: 1000px) {
            border-width: 5px * $zoom-1024;
            padding: 25px * $zoom-1024 50px * $zoom-1024;
          }

          @media screen and (max-width: 1000px) {
            padding: 22.5px;
            width: 200px;
            top: calc(#{$m-i8-banner-top} + (var(--box-height) + var(--box-gap)) * 2);
            bottom: auto;
          }

          @media screen and (max-width: 375px) {
            padding: 22.5px;
            width: 200px;
            top: calc(#{$m-i8-banner-top} + (var(--box-height) + var(--box-gap)) * 2);
            bottom: auto;
          }

          @media screen and (max-width: 320px) {
            padding: 15.6px 18px;
            width: 180px;
          }

          h1.date {
            font-size: 48px;

            @media screen and (max-width: 2560px) {
              font-size: 48px * $zoom-2560;
            }

            @media screen and (max-width: 1440px) {
              font-size: 48px * $zoom-1440;
            }

            @media screen and (max-width: 1000px) {
              font-size: 24px;
            }

            @media screen and (max-width: 375px) {
              font-size: 24px;
            }
          }

          h2 {
            margin-top: 16px;
            font-size: 32px;

            @media screen and (max-width: 2560px) {
              margin-top: 16px * $zoom-2560;
              font-size: 32px * $zoom-2560;
            }

            @media screen and (max-width: 1440px) {
              margin-top: 16px * $zoom-1440;
              font-size: 32px * $zoom-1440;
            }

            @media screen and (max-width: 1000px) {
              font-size: 24px;
            }

            @media screen and (max-width: 375px) {
              font-size: 24px;
            }
          }

          h3 {
            margin-top: 32px;
            font-size: 16px;

            @media screen and (max-width: 2560px) {
              margin-top: 32px * $zoom-2560;
              font-size: 16px * $zoom-2560;
            }

            @media screen and (max-width: 1440px) {
              margin-top: 32px * $zoom-1440;
              font-size: 16px * $zoom-1440;
            }

            @media screen and (max-width: 1000px) {
              font-size: 12px;
            }

            @media screen and (max-width: 375px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}