$black: #000000;
$dark-1: #3F3F3F;
$dark-2: #B5B5B5;
$dark-3: #D8D8D8;
$dark-4: #F3F3F3;
$dark-5: #333943;

$gray: #9A9A9A;
$gray-1: #e8e8e8;

$white: #ffffff;

$blue: #0F52BA;
$blue-1: #87CEFA;
$blue-2: #00BFFF;
$blue-3: #00CED1;
$blue-4: #87CEFA;
$blue-5: #4e687e;
$blue-6: #7bd6eb;

$green: #77B55A;
$green-1: #bbfad7;

$red: #F7615C;
$orange: #FB8241;
$yellow: #FABD40;
$purple: #9E47FA;

$light-green: #A5D88E;
$dark-green: #5C794C;

$light-tone: $blue-4;
$tone: $blue;
$dark-tone: $blue-3;
