$black: #000000;
$dark-1: #3F3F3F;
$dark-2: #B5B5B5;
$dark-3: #D8D8D8;
$dark-4: #F3F3F3;
$white: #ffffff;

$red: #F7615C;
$orange: #FB8241;
$yellow: #FABD40;
$green: #77B55A;
$blue: #479EFA;
$purple: #9E47FA;

$light-green: #A5D88E;
$dark-green: #5C794C;

$light-tone: $light-green;
$tone: $green;
$dark-tone: $dark-green;
