@mixin container ($backgroundColor, $fontColor) {
  &.in-app .main-container {
    margin-top: 0;
  }

  .main-container {
    background-color: $backgroundColor;
    color: $fontColor;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    // min-height: 100vh;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 84px;
    margin-top: $navbar-height;

    @media screen and (max-width: 1024px) {
      margin-top: $navbar-height-mobile;
    }

    h1.title {
      margin-bottom: 32px;
    }

    h1.title,
    h2.subtitle,
    p.content {
      text-align: center;
      line-height: 1.4;
    }

    &.popuped {
      position: fixed;

      // Only use CSS:Filter-Blur API on Mozilla Firefox.
      @supports (-moz-appearance: none) {
        & {
          filter: blur(3px);
        }
      }
    }
  }
}