#app.main {
  .main-container {
    width: calc(100% - 250px * 2);
    min-height: 100vh;
    margin: 0 250px;
    margin-top: $navbar-height;
  
    &.popuped {
      position: fixed;
      
      // Only use CSS:Filter-Blur API on Mozilla Firefox.
      @supports (-moz-appearance: none) {
        & {
          filter: blur(3px);
        }
      }
    }
  }
}