@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700');

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
span {
  line-height: 1;
  font-family: Noto Sans TC, Din, Microsoft JhengHei, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.font {
  &-bold {
    font-weight: 500;
  }
  
  &-black {
    font-weight: 700;
  }
}

ruby {
  ruby-align: center;

  rt {
    letter-spacing: 0;
    font-weight: 300;
  }
}
