@mixin footer ($backgroundColor, $fontColor) {
  .footer {
    &-container {
      background-color: rgba($backgroundColor, 0.5);
      backdrop-filter: blur(25px);
      display: grid;
      grid-template-areas:
        "hr hr"
        "brand past"
        "contact media";
      grid-gap: 42px;
      padding: 64px $main-padding;
      transition: all ease-in-out 0.3s;
      z-index: 10;

      @supports (-moz-animation: none) {
        background-color: $backgroundColor,;
      }

      @media screen and (max-width: 1024px) {
        grid-gap: 32px;
        position: relative;
        padding: 64px $m-i8-banner-inner-gap;
        width: calc(100% - #{$m-i8-banner-inner-gap * 2});
      }

      @media screen and (max-width: 650px) {
        grid-template-areas:
          "hr"
          "brand"
          "past"
          "media"
          "contact";
        grid-gap: 32px;
        position: relative;
        padding: 64px $m-i8-banner-inner-gap;
        width: calc(100% - #{$m-i8-banner-inner-gap * 2});
      }
    }

    > p {
      display: flex;
      flex-direction: column;
      color: $fontColor;

      @media screen and (max-width: 1024px) {
        word-break: break-word;
        font-size: 18px;
      }

      span {
        line-height: 1.4;

        @media screen and (max-width: 1024px) {
          margin-bottom: 5px;
        }

        &:nth-child(1) {
          @media screen and (max-width: 1024px) {
            margin-bottom: 16px;
          }
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      transition: all ease-in-out 0.3s;

      &:hover {
        color: $tone;
        text-decoration: underline;
      }
    }

    &-line {
      grid-area: hr;
      border: 1px solid $dark-2;
      width: 450px;

      @media screen and (max-width: 1024px) {
        width: 33%;
      }
    }

    &#brand {
      grid-area: brand;
    }

    &#contact {
      grid-area: contact;
    }

    &#past {
      grid-area: past;

      > p > span:nth-child(2) > a {
        margin-right: 1rem;

        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }

        @media screen and (max-width: 414px) {
          margin: 0;
        }

        @media screen and (max-width: 375px) {
          font-size: 14px;
          margin: 0;
        }
      }

      > p > span {
        &:nth-child(2) {
          @media screen and (max-width: 1024px) {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    &#media {
      grid-area: media;

      > p > span {
        line-height: 1.6;

        &:nth-child(2) > a {
          font-size: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}