#app.main {
  #home.main-container {
    align-items: flex-start;
    margin: 0 350px;
    margin-top: $navbar-height;
    padding-top: 170px;
    width: calc(100% - 350px * 2);

    @media screen and (max-width: 1200px) {
      margin: 0;
      margin-top: $navbar-height;
      width: 100%;
    }
  
    .header {
      width: calc(910px - 350px);
      padding: 40px;
      padding-left: 350px;
      background-color: $dark-3;
      margin-left: -350px;
      margin-bottom: 200px;

      @media screen and (max-width: 1200px) {
        margin-left: 0;
      }

      @media screen and (max-width: 960px) {
        width: calc(100% - 40px * 2);
        height: auto;
        padding: 40px;
      }
  
      h1.title,
      h2.subtitle,
      p {
        text-align: left;
        margin-bottom: 16px;
        line-height: 1;
      }
  
      h1.title {
        font-size: 84px;

        @media screen and (max-width: 414px) {
          font-size: 72px;
        }

        @media screen and (max-width: 375px) {
          font-size: 64px;
        }
      }
  
      h2.subtitle {
        font-size: 42px;
        margin-bottom: 42px;

        @media screen and (max-width: 414px) {
          font-size: 36px;
          margin-bottom: 36px;
        }

        @media screen and (max-width: 375px) {
          font-size: 28px;
          margin-bottom: 28px;
        }
      }
  
      p {
        &.date {
          font-size: 32px;
        }
  
        &.location {
          margin-bottom: 42px;
          font-size: 28px;
        }

        &.kktix {
          margin-bottom: 0;
          text-align: end;
          font-size: 24px;

          a {
            display: inline-block;
            text-decoration: none;
            margin-left: 16px;
            padding: 8px 16px;
            border: solid 2px $black;
            color: $white;
            background-color: $black;

            &:hover {
              background-color: $tone;
              border-color: $tone;
            }
          }



          @media screen and (max-width: 414px) {
            text-align: start;
            font-size: 18px;

            a {
              margin-left: 0;
              margin-right: 16px;
            }
          }
        }
      }
    }
  }

  .spotlight {
    h1:first-child {
      margin-bottom: 0.5em;
    }
  }
}