#app.main {
  #home.main-container {
    overflow: hidden;

    @media screen and (max-width: 475px) {
      margin-top: 0;
    }

    .header {
      display: flex;
      width: 50%;
      padding: 60px 40px;
      background-color: rgba($white, .7);
      margin-left: calc(-50% + 40px);
      margin-top: 120px;
      margin-bottom: 100px;
      z-index: 1;
      backdrop-filter: blur(20px);

      @media screen and (max-width: 1200px) {
        margin-top: 60px;
        margin-bottom: 40px;
        padding: 40px;
        backdrop-filter: blur(10px);
      }

      @media screen and (max-width: 900px) {
        width: calc(100% - 40px * 2);
        margin-left: 0;
        backdrop-filter: blur(5px);
      }

      @media screen and (max-width: 675px) {
        margin: auto;
        padding: 30px 40px;
      }

      .inner-container {
        margin-left: auto;
        margin-right: 0;

        @media screen and (max-width: 900px) {
          margin: auto;
        }
      }

      h1.title,
      h2.subtitle,
      p {
        text-align: left;
        margin-bottom: 16px;
        line-height: 1;
      }

      h1.title {
        font-size: 56px;

        @media screen and (max-width: 900px) {
          font-size: 84px;
        }

        @media screen and (max-width: 414px) {
          font-size: 72px;
        }

        @media screen and (max-width: 375px) {
          font-size: 64px;
        }
      }

      h2.subtitle {
        font-size: 24px;
        margin-bottom: 48px;

        @media screen and (max-width: 900px) {
          font-size: 42px;
          margin-bottom: 42px;
        }

        @media screen and (max-width: 414px) {
          font-size: 36px;
          margin-bottom: 36px;
        }

        @media screen and (max-width: 375px) {
          font-size: 28px;
          margin-bottom: 28px;
        }
      }
    }

    .background-video {
      position: fixed;
      background-color: $white;
      height: calc(100vw / 16 * 9);
      width: 100vw;
      top: 0;
      left: 0;
      z-index: -1;
      transform-origin: 0 0;

      @media screen and (orientation: landscape) and (max-width: 1200px) {
        transform: scale(1.4);
      }

      @media screen and (orientation: portrait) and (max-width: 1200px) {
        transform: translate(0, 100vh) rotate(-90deg) scale(2);
      }

      .video {
        &-container {
          position: relative;
          width: 100%;
          height: 100%;
        }

        width: 100%;
        height: auto;
      }
    }

    .info {
      display: flex;
      width: 100%;
      margin-bottom: 80px;

      @media screen and (max-width: 475px) {
        margin-top: 20px;
      }

      .left-container,
      .right-container {
        display: flex;
        width: 50%;
      }

      .left-container {
        flex-direction: column-reverse;

        & > div {
          padding: 16px 24px;
          margin-left: auto;
          background-color: $black;
          color: $white;
          transform: skewX(10deg);
          border-top-right-radius: 40px;

          & > div {
            transform: skewX(-10deg);

            .date {
              font-size: 28px;
              margin-bottom: 8px;
            }

            .location {
              font-size: 24px;
            }
          }
        }
      }

      .right-container {
        flex-direction: column-reverse;

        .kktix {
          margin-left: 30%;
          margin-right: auto;
          text-align: end;
          font-size: 28px;

          a {
            display: block;
            margin-top: 16px;
            text-decoration: none;
            padding: 16px 32px;
            border-top-left-radius: 20px;
            color: $white;
            background-color: $black;
            transform: skewX(-10deg);

            span {
              display: inline-block;
              transform: skewX(10deg);
            }

            &:hover {
              background-color: $tone;
            }
          }
        }
      }

      @media screen and (max-width: 900px) {
        flex-direction: column;
        margin: 80px auto;

        .left-container,
        .right-container {
          width: 100%;
          justify-content: flex-start;
        }

        .left-container {
          & > div {
            margin: auto;
            margin-left: 32px;

            & > div {
              .date {
                font-size: 22px;
              }

              .location {
                font-size: 16px;
              }
            }
          }
        }

        .right-container {
          .kktix {
            margin: auto;
            margin-left: 32px;

            a {
              border-top-left-radius: 0;
              border-top-right-radius: 20px;
              transform: skewX(10deg);
              span {
                transform: skewX(-10deg);
              }
            }
          }
        }
      }

      @media screen and (max-width: 475px) {
        margin-top: 32px;
      }
    }

    .spotlight {
      ul {
        list-style-type: initial;
        list-style-position: outside;
        margin-left: 16px;
      }
    }
  }
}
