#app.main {
  #home.main-container {
    margin-top: $navbar-height;

    @media screen and (max-width: 900px) {
      margin-top: $navbar-height-mobile;
      width: 100%;
    }
  
    .header {
      display: flex;
      width: 50%;
      padding: 30px 40px;
      background-color: $dark-3;
      margin-left: calc(-50% + 40px);
      margin-bottom: 40px;

      @media screen and (max-width: 900px) {
        width: calc(100% - 40px * 2);
        margin-left: 0;
      }

      @media screen and (max-width: 675px) {
        margin: auto;
        padding: 30px 40px;
      }

      .inner-container {
        margin-left: auto;
        margin-right: 0;

        @media screen and (max-width: 900px) {
          margin: auto;
        }
      }
  
      h1.title,
      h2.subtitle,
      p {
        text-align: left;
        margin-bottom: 16px;
        line-height: 1;
      }
  
      h1.title {
        font-size: 56px;

        @media screen and (max-width: 900px) {
          font-size: 84px;
        }

        @media screen and (max-width: 414px) {
          font-size: 72px;
        }

        @media screen and (max-width: 375px) {
          font-size: 64px;
        }
      }
  
      h2.subtitle {
        font-size: 24px;
        margin-bottom: 48px;

        @media screen and (max-width: 900px) {
          font-size: 42px;
          margin-bottom: 42px;
        }

        @media screen and (max-width: 414px) {
          font-size: 36px;
          margin-bottom: 36px;
        }

        @media screen and (max-width: 375px) {
          font-size: 28px;
          margin-bottom: 28px;
        }
      }
    }

    .info {
      display: flex;
      width: 100%;
      margin-bottom: 80px;
      
      .left-container,
      .right-container {
        display: flex;
        width: 50%;
      }

      .left-container {
        flex-direction: column-reverse;

        & > div {
          padding: 16px 24px;
          margin-left: auto;
          background-color: $black;
          color: $white;
          transform: skewX(10deg);
          border-top-right-radius: 40px;

          & > div {
            transform: skewX(-10deg);

            .date {
              font-size: 28px;
              margin-bottom: 8px;
            }
      
            .location {
              font-size: 24px;
            }
          }
        }
      }

      .right-container {
        flex-direction: column-reverse;
        
        .kktix {
          margin-left: auto;
          margin-right: 25%;
          text-align: end;
          font-size: 28px;

          a {
            display: block;
            margin-top: 16px;
            text-decoration: none;
            padding: 16px 32px;
            border-top-left-radius: 20px;
            color: $white;
            background-color: $black;
            transform: skewX(-10deg);

            span {
              display: inline-block;
              transform: skewX(10deg);
            }

            &:hover {
              background-color: $tone;
            }
          }
        }
      }

      @media screen and (max-width: 900px) {
        flex-direction: column;
        margin: 80px auto;
      
        .left-container,
        .right-container {
          width: 100%;
        }

        .left-container{
          & > div {
            margin: auto;

            & > div {
              .date {
                font-size: 22px;
              }
        
              .location {
                font-size: 16px;
              }
            }
          }
        }

        .right-container {
          .kktix {
            margin: auto;
            a {
              border-top-left-radius: 0;
              border-top-right-radius: 20px;
              transform: skewX(10deg);
              span {
                transform: skewX(-10deg);
              }
            }
          }
        }
      }
    }
  }
}