@import 'reset';
@import 'color';
@import 'font';
@import 'variables';
@import 'mixin';
@import 'animate';

@import 'container';
@import 'popup';
@import 'navbar';

@import 'session';

#app.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}