@import 'reset';
@import 'color';
@import 'font';
@import 'variables';
@import 'mixin';
@import 'animate';

@import 'container';
@import 'popup';
@import 'navbar';
@import 'footer';
@import 'spotlight';
@import 'tab';

@import 'sponsor';
@import 'staff';

@import 'home';
@import 'session';
@import 'venue';
@import 'activity';
@import 'traffic';
@import 'team';

@import 'theme/index';

body {
  &.theme-light {
    background-color: $white;
  }

  &.theme-dark,
  &.theme-rainbow-dark {
    background-color: $black;
  }
}

#app.main {
  width: 100%;

  &.popuped {
    overflow: hidden;

    > *:not(.popup-container) {
      filter: blur(5px);
    }
  }

  @include light;

  &.theme-dark,
  &.theme-rainbow-dark {
    @include dark;
  }
}

body {
  background-color: $white;

  &.popup-scrolling-lock {
    overflow: hidden;
  }
}