@import 'reset';
@import 'color';
@import 'font';
@import 'variables';
@import 'mixin';
@import 'animate';

@import 'container';
@import 'popup';
@import 'navbar';
@import 'footer';
@import 'spotlight';
@import 'tab';

@import 'sponsor';
@import 'staff';

@import 'home';
@import 'session';
@import 'venue';
@import 'activity';
@import 'traffic';
@import 'team';


#app.main {
  width: 100%;

  &.popuped {
    overflow: hidden;

    > *:not(.popup-container) {
      filter: blur(5px);
    }
  }
}

body {
  background-color: $white;

  &.popup-scrolling-lock {
    overflow: hidden;
  }
}