@mixin ImgBgContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin ResetWebAppearance {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
}