@mixin navbar ($backgroundColor, $backgroundColorHover, $fontColor, $fontColorLevel2) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height;
    z-index: 1000;
    background-color: rgba($backgroundColor, .7);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 4px rgba($dark-1, 0.25);
    transition: all ease-in-out 0.3s;
  
    @supports (-moz-animation: none) {
      background-color: $backgroundColor;
    }
  
    @media screen and (max-width: $navbar-mobile-max-width) {
      height: $navbar-height-mobile;
    }
  
    &-container {
      display: flex;
      height: 100%;
      padding: 0 5%;
  
      @media screen and (max-width: $navbar-mobile-max-width) {
        padding: 0 16px;
      }
  
      .logo {
        display: flex;
        align-items: center;
  
        &-icon__normal {
          width: 48px;
          height: 48px;
  
          @media screen and (max-width: $navbar-mobile-max-width) {
            display: none;
          }
        }
  
        &-icon__mobile {
          display: none;
          width: 32px;
          height: 32px;
  
          @media screen and (max-width: $navbar-mobile-max-width) {
            display: inline-block;
          }
        }
  
        &-text {
          display: none;
          margin-left: 8px;
  
          @media screen and (max-width: $navbar-mobile-max-width) {
            display: block;
          }
  
          &__sitcon {
            font-weight: 700;
            color: $fontColor;
          }
  
          &__2020 {
            font-size: 12px;
            color: $fontColorLevel2;
          }
        }
      }
  
      .toggle-button,
      .menu {
        margin-left: auto;
        color: $fontColor;
      }
  
      .toggle-button {
        display: none;
  
        @media screen and (max-width: $navbar-mobile-max-width) {
          display: inline-block;
        }
      }
  
      @media screen and (min-width: $navbar-mobile-max-width + 1) {
        .menu {
          &-container {
            height: 100%;
            display: flex;
  
            header {
              display: none;
            }
          }
  
          &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100px;
            height: 100%;
            padding: 0 12px;
  
            span {
              position: relative;
              display: block;
  
              &:before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -28px;
                transform: translateX(-50%);
                border-bottom: 4px solid $fontColor;
                min-width: 0;
                transition: min-width cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
              }
            }
  
            &.active span:before {
              min-width: 100px;
            }
  
            &:hover {
              background: $backgroundColorHover;
            }
          }
        }
      }
  
      @media screen and (max-width: $navbar-mobile-max-width) {
        .menu {
          &-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($backgroundColor, .6);
            z-index: 9999;
          }
  
          &-container {
            position: fixed;
            top: 0;
            right: max(-80vw, -300px);
            right: -80vw;
            max-width: 300px;
            width: 80vw;
            height: 100vh;
            background-color: $backgroundColor;
            display: flex;
            flex-direction: column;
            z-index: 99999;
            transition: right 0.3s;
  
            header {
              display: flex;
              height: $navbar-height-mobile;
              padding: 0 16px 32px 16px;
  
              .define-logo {
                display: flex;
                align-items: center;
  
                img.define-icon {
                  width: 32px;
                  height: 32px;
                }
  
                .define-text {
                  transform: scale(0.8);
  
                  img {
                    height: 22px;
                  }
  
                  .logo-text {
                    &__sitcon,
                    &__2020 {
                      font-size: 12px;
                    }
                  }
                }
              }
  
              .close-button-container {
                margin-left: auto;
                height: 48px;
  
                span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 48px;
                  height: 48px;
                  font-size: 56px;
                  transform: rotate(45deg) translate(12px, -6px);
                }
              }
            }
          }
  
          &.toggled {
            .menu {
              &-mask {
                display: block;
              }
  
              &-container {
                right: 0;
              }
            }
          }
  
          &-item {
            display: flex;
            align-items: center;
            width: 60%;
            margin-left: auto;
            padding: 16px;
            border-radius: 10px;
            transform: skewX(-10deg) translateX(32px);
            margin-bottom: 0.5em;
  
            span {
              margin-left: auto;
              transform: skewX(10deg) translateX(-40px);
            }
  
            &:hover {
              background-color: $backgroundColorHover;
            }
  
            &.active {
              background: $fontColor;
              color: $backgroundColor;
            }
          }
        }
      }
    }
  }  
}

@mixin navbarDarkIcon {
  .logo-icon__normal,
  .logo-icon__mobile,
  .define-icon,
  .define-text > img,
  .toggle-button {
    filter: invert(100%) grayscale(1);
  }
}