#app.main {
  .popup {
    &-pre-content {
      display: none;
    }

    &-container {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      min-width: auto;
      height: 100vh;
      width: 100%;
      backdrop-filter: blur(5px);
      z-index: 10000;
    }

    &-placeholder {
      height: 100%;
      width: 100%;
      padding: 0;
      display: flex;
      animation: popupFillIn 0.3s ease-in-out;
      animation-fill-mode: forwards;
      background-color: transparent;
      user-select: text;
    }

    &-close {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 64px;
      width: 64px;
      margin-bottom: -64px;
      position: fixed;
      top: $main-padding;
      right: $main-padding;
      font-size: 36px;
      cursor: pointer;
      z-index: 9999;

      @media screen and (max-width: 1024px) {
        top: 0;
        right: 0;
      }

      &:before {
        content: "";
        width: 100vw;
        height: 1000vh;
        position: fixed;
        background-color: rgba($black, 0.3);
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        z-index: 10000;

        &::before {
          display: none;
        }
      }
    }

    &-content {
      &-box {
        width: calc(100% - #{$main-padding} * 2);
        display: block;
        padding: $main-padding;
        margin-bottom: 0;
        position: relative;
        z-index: 9999;
        animation: popupJumpOut 0.3s cubic-bezier(0.8, -0.9, 0.2, 1.2);
        animation-fill-mode: forwards;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        @media screen and (max-width: 1024px) {
          width: 100%;
          margin: 0;
          padding: 0;
          min-height: 100vh;
        }
      }

      @media screen and (max-width: 1024px) {
        padding: 32px;
        min-height: calc(100vh - 32px * 2);

        @media not all and (min-resolution: 0.001dpcm) {
          @supports (-webkit-appearance: none) and (stroke-color: transparent) {
            & {
              padding-bottom: 128px;
            }
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }

      h1.title,
      p.paragraph,
      h1,
      p{
        white-space: pre-wrap;
        margin: 0;
      }

      h2.subtitle,
      h2,
      ul,
      iframe {
        margin-bottom: 2rem;
        line-height: 1.4;
      }

      ul {
        list-style: disc;
        margin-left: 16px;
      }

      h1.title,
      h1 {
        font-size: 36px;
        margin: 36px 0;
        color: $blue-4;

        @media screen and (max-width: 1024px) {
          font-size: 36px * $zoom-general-mobile-font;
        }
      }

      h2.subtitle,
      h2 {
        font-size: 24px;

        @media screen and (max-width: 1024px) {
          font-size: 24px * $zoom-general-mobile-font;
        }
      }

      p.paragraph,
      p {
        font-size: 18px;
        color: white;

        @media screen and (max-width: 1024px) {
          font-size: 18px * $zoom-general-mobile-font;
        }

        > img {
          width: 320px;
          float: right;
          margin: 0 0 1rem 1rem;

          @media screen and (max-width: 768px) {
            width: 100%;
            float: none;
            margin: 0;
            margin-bottom: 1rem;
          }
        }
      }

      a {
        color: $tone;
        text-decoration: none;

        &.button {
          width: calc(250px - 48px * 2);
          position: absolute;
          right: 64px;
          display: inline-block;
          background-color: $white;
          color: $black;
          text-decoration: none;
          margin: 0;
          margin-bottom: 48px;
          padding: 12px 48px;
          border: 5px solid $black;
          font-size: 36px;
          cursor: pointer;
          transition: all ease-in-out 0.3s;

          @media screen and (max-width: 630px) {
            position: relative;
            right: 0;
            text-align: center;
          }

          @media screen and (max-width: 500px) {
            width: calc(100% - 48px * 2 - 10px);
          }

          &:hover {
            background-color: $black;

            p {
              color: $white;
            }
          }
        }
      }

      ul {
        li {
          line-height: 1.4;
          font-size: 18px;

          @media screen and (max-width: 1024px) {
            font-size: 18px * $zoom-general-mobile-font;
          }

          a {
            color: $tone;
            text-decoration: none;
          }
        }

        &.summary {
          color: $tone;
          list-style: disc;

          li {
            margin-left: 18px;

            @media screen and (max-width: 1024px) {
              font-size: 18px * $zoom-general-mobile-font;
            }
          }
        }
      }

      iframe.embed-video,
      iframe {
        width: 640px;
        height: 360px;

        @media screen and (max-width: 768px) {
          width: 480px;
          height: 270px;
        }

        @media screen and (max-width: 550px) {
          width: 320px;
          height: 180px;
        }

        @media screen and (max-width: 414px) {
          width: 100%;
          height: 180px;
        }
      }
    }
  }
}
