.popup {
  &-pre-content {
    display: none;
  }

  &-container {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - $main-padding * 2);
    padding: $main-padding;
    padding-top: $main-padding * 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    animation: popup .1s ease-in-out;
    animation-fill-mode: forwards;
    user-select: text;
    z-index: 10000;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  &-close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    margin-bottom: -48px;
    position: sticky;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;

    &:before {
      content: '';
      width: 100vw;
      height: 100vh;
      position: fixed;
      background-color: rgba($black, .3);
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      z-index: 10000;

      &::before {
        display: none;
      }
    }
  }

  &-content {
    width: calc(100% - #{$main-padding} * 2);
    display: flex;
    flex-direction: column;
    padding: $main-padding;
    margin-bottom: $main-padding;
    position: relative;
    background-color: $white;
    box-shadow: 0 2px 26px rgba($black, .35);
    z-index: 9999;

    &::-webkit-scrollbar {
      display: none
    }

    h1.title,
    h2.subtitle,
    p.paragraph,
    ul {
      margin-bottom: 2rem;
      line-height: 1.4;
    }

    h1.title {
      font-size: 36px;
    }

    h2.subtitle {
      font-size: 24px
    }

    p.paragraph {
      font-size: 18px;
    }

    a {
      color: $tone;
      text-decoration: none;
    }

    ul {
      li {
        line-height: 1.4;
        font-size: 18px;

        a {
          color: inherit;
          text-decoration: none;
        }
      }

      &.summary {
        color: $tone;
        list-style: disc;

        li {
          margin-left: 18px;
        }
      }
    }
  }
}