.popup {
  &-pre-content {
    display: none;
  }

  &-container {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - #{$main-padding} * 2);
    padding: $main-padding;
    padding-top: $main-padding * 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    animation: popup 0.1s ease-in-out;
    animation-fill-mode: forwards;
    user-select: text;
    z-index: 10000;
    overflow: hidden;

    /* Safari Only */
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        & {
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
        }
      }
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 0;
    }
  }

  &-close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    margin-bottom: -64px;
    position: sticky;
    top: 0;
    right: 0;
    font-size: 36px;
    cursor: pointer;
    z-index: 9999;

    &:before {
      content: "";
      width: 100vw;
      height: 100vh;
      position: fixed;
      background-color: rgba($black, 0.3);
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      z-index: 10000;

      &::before {
        display: none;
      }
    }
  }

  &-content {
    width: calc(100% - #{$main-padding} * 2);
    display: flex;
    flex-direction: column;
    padding: $main-padding;
    margin-bottom: $main-padding;
    position: relative;
    background-color: $white;
    box-shadow: 0 2px 26px rgba($black, 0.35);
    z-index: 9999;

    @media screen and (max-width: 1024px) {
      width: calc(100% - #{$m-i8-banner-gap} * 2);
      margin: 0;
      padding: $m-i8-banner-gap * 2 $m-i8-banner-gap;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    h1.title,
    h2.subtitle,
    p.paragraph,
    ul {
      margin-bottom: 2rem;
      line-height: 1.4;
    }

    h1.title {
      font-size: 36px;

      @media screen and (max-width: 1024px) {
        font-size: 36px * $zoom-general-mobile-font;
      }
    }

    h2.subtitle {
      font-size: 24px;

      @media screen and (max-width: 1024px) {
        font-size: 24px * $zoom-general-mobile-font;
      }
    }

    p.paragraph {
      font-size: 18px;

      @media screen and (max-width: 1024px) {
        font-size: 18px * $zoom-general-mobile-font;
      }
    }

    a {
      color: $tone;
      text-decoration: none;

      &.button {
        width: calc(250px - 48px * 2);
        position: absolute;
        right: 64px;
        display: inline-block;
        background-color: $white;
        color: $black;
        text-decoration: none;
        margin: 0;
        margin-bottom: 48px;
        padding: 12px 48px;
        border: 5px solid $black;
        font-size: 36px;
        cursor: pointer;
        transition: all ease-in-out .3s;

        @media screen and (max-width: 630px) {
          position: relative;
          right: 0;
          text-align: center;
        }

        @media screen and (max-width: 500px) {
          width: calc(100% - 48px * 2 - 10px);
        }

        &:hover {
          background-color: $black;
          
          p {
            color: $white;
          }
        }
      }
    }

    ul {
      li {
        line-height: 1.4;
        font-size: 18px;

        @media screen and (max-width: 1024px) {
          font-size: 18px * $zoom-general-mobile-font;
        }

        a {
          color: $tone;
          text-decoration: none;
        }
      }

      &.summary {
        color: $tone;
        list-style: disc;

        li {
          margin-left: 18px;

          @media screen and (max-width: 1024px) {
            font-size: 18px * $zoom-general-mobile-font;
          }
        }
      }
    }
  }
}
