#session {
  .ccip-app {
    &.ccip-session {
      &-table {
        margin: 32px;
      }

      &-block {
        &.room-block {
          font-size: 24px;
          text-align: center;
          margin-bottom: 16px;
          
          p {
            font-weight: 500;
            font-family: 'Fira Code', monospace;
          }
        }

        &.session-block {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 5px;
          padding: 8px;
          box-sizing: border-box;
          border: 2px solid $black;
          border-radius: 10px;
          text-align: center;
        }

        &.time-block {
          position: absolute;
          font-size: 14px;
          text-align: left;
          display: flex;
          flex-direction: column;
          margin-right: 10px;
          margin-top: -10px;
          background-color: $black;
          color: $white;
          padding: 4px 5px;
          border-radius: 10px;

          p {
            font-family: 'Fira Code', monospace;
          }
        }
      }

      &-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
      }
      &-speakers {
        display: flex;
        flex-direction: column;

        span {
          margin-top: 10px;
        }
      }
    }
  }
}