#app #agenda {
  &.main-container {
    padding-left: 200px;
    padding-right: 200px;

    @media screen and (max-width: 1280px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media screen and (max-width: 1024px) {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ccip-app {
    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    &.ccip-session {
      &-table {
        &.mobile {
          margin: 0;
        }
      }

      &-block {
        &.room-block {
          font-size: 24px;
          text-align: center;
          margin-bottom: 16px;

          p {
            font-weight: 500;
            font-family: "Fira Code", monospace;
          }
        }

        &.session-block {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 5px;
          padding: 8px;
          box-sizing: border-box;
          border: 2px solid $black;
          border-radius: 10px;
          text-align: center;

          &.clickable {
            cursor: pointer;
          }
        }

        &.time-block {
          position: absolute;
          font-size: 14px;
          text-align: left;
          display: flex;
          flex-direction: column;
          margin-right: 10px;
          margin-top: -10px;
          background-color: $black;
          color: $white;
          padding: 4px 5px;
          border-radius: 10px;

          p {
            font-family: "Fira Code", monospace;
          }
        }
      }

      &-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
      }

      &-tags,
      &-speakers {
        display: flex;
        flex-direction: column;
      }

      &-speakers {
        span {
          margin-top: 10px;
        }

        @media screen and (max-width: 960px) {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      &-tags {
        span {
          margin-bottom: 6px;
        }
      }

      &-tag {
        display: inline-block;
        width: auto;
        font-size: 14px;
        line-height: 1.4;
        padding: 1px 7px;
        border-radius: 5px;
        background-color: $dark-1;
        color: $white;
        
        &:before {
          content: '#'
        }

        @media screen and (max-width: 960px) {
          margin-bottom: 4px;
        }
      }

      &-time-group {
        &.head,
        &.session-block {
          padding: 5px 7px;
        }
        &.head {
          position: sticky;
          width: calc(100% - 7px * 2);
          top: $navbar-height-mobile;
          background-color: $black;
          color: $white;
          font-size: 16px;
          z-index: 1;

          p {
            font-family: "Fira Code", monospace;
          }
        }

        &.session-block {
          position: relative;
          box-sizing: border-box;
          border-bottom: 1px solid rgba($black, 0.4);
          padding: 8px;
          z-index: 0;

          &.clickable {
            cursor: pointer;
          }

          &:last-child {
            border: 0;
          }

          .ccip-session-time {
            margin-top: 10px;
            color: rgba($black, 0.7);
          }

          .ccip-session-room {
            position: absolute;
            right: 8px;
            bottom: 8px;
            width: auto;
          }
        }
      }
    }
  }
}
