#app.main {
  .spotlight {
    background-color: $black;
    color: $white;
    padding: 64px;
    clip-path: polygon(20px 20px, 100% 0%, 100% 100%, 0% 100%);
    margin: 42px 200px;
    min-height: 500px;

    &-container {
      width: 100%;
    }

    @media screen and (max-width: 1280px) {
      margin: 42px 100px;
    }

    @media screen and (max-width: 675px) {
      width: calc(100% - 32px * 2);
      min-height: auto;
      margin: 0;
      margin-bottom: 32px;
      padding: 32px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    @media screen and (max-width: 414px) {
      width: calc(100% - 16px * 2);
      padding: 16px;
    }

    &.sharp-back-taton {
      position: relative;
      z-index: 1;

      p.content {
        z-index: 10;
      }

      &:before {
        position: absolute;
        content: "";
        right: -96px;
        bottom: 32px;
        height: 100%;
        width: 100%;
        background-image: url("/img/icons/sharp-back-taton.png");
        background-size: 40%;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        opacity: 0.24;
        pointer-events: none;
        z-index: 0;

        @media screen and (max-width: 1440px) {
          background-size: 70%;
        }

        @media screen and (max-width: 1200px) {
          background-size: 100%;
        }
      }
    }

    &.sitcon-back-taton {
      clip-path: url(#SITCON-taton-mask);
      position: relative;
      width: calc(100% - (200px + 64px) * 2);

      @media screen and (max-width: 1280px) {
        width: calc(100% - (100px + 64px) * 2);
      }

      @media screen and (max-width: 675px) {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        width: calc(100% - 64px);
        background-color: $black;
      }

      @media screen and (max-width: 414px) {
        width: calc(100% - 16px * 2);

        &:before {
          opacity: 0;
        }
      }

      &:after {
        content: "";
        position: absolute;
        background-color: $black;
        height: 100%;
        width: calc(100% + 150px);
        top: 0;
        left: 0;
        z-index: -1;
      }

      p.content {
        margin-right: 128px;
        z-index: 10;

        @media screen and (max-width: 675px) {
          margin-right: 156px;
        }

        @media screen and (max-width: 475px) {
          margin-right: 0;
        }
      }

      .sitcon.placeholder {
        z-index: 0;
        pointer-events: none;
        position: absolute;
        height: 540.6px;
        width: 228.63px;
        transform: translate(33px, 37px) scale(0.7);
        transform-origin: bottom;
        top: 0;
        right: 0;

        @media screen and (max-width: 675px) {
          opacity: 0.7;
        }

        @media screen and (max-width: 475px) {
          opacity: 0.3;
        }
      }

      /* Safari 11+ */
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          & {
            clip-path: polygon(20px 20px, 100% 0%, 100% 100%, 0% 100%);
            background-color: none;

            @media screen and (max-width: 675px) {
              clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
          }
        }
      }
    }

    h1.title,
    h2.subtitle,
    p.content,
    ul,
    li,
    a,
    span {
      color: $white;
      text-align: left;
      line-height: 1.6;
    }

    p.content,
    ul {
      margin: 32px 0;
      font-size: 16px;

      li {
        padding: 4px 0;
      }

      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }

      @media screen and (max-width: 675px) {
        margin: 16px 0;
        font-size: 12px;
      }
    }

    h1:first-child {
      margin-bottom: 0.5em;
    }

    h1.title {
      position: relative;
      font-size: 26px;
      line-height: 1.2;

      &.has-prefix-icon {
        display: grid;
        grid-template-areas:
          "icon inner_text_1"
          "icon inner_text_2";
        grid-template-columns: 128px 1fr;
        gap: 16px;
        row-gap: 0px;
        column-gap: 16px;
        margin-bottom: 64px;
        width: auto;
        height: 100%;

        @media screen and (max-width: 675px) {
          grid-template-columns: 64px 1fr;
        }

        @media screen and (max-width: 375px) {
          grid-template-columns: 56px 1fr;
          margin-bottom: 32px;
        }

        > .prefix-icon {
          grid-area: icon;
          width: 128px;
          height: auto;

          @media screen and (max-width: 675px) {
            width: 64px;
          }

          @media screen and (max-width: 375px) {
            width: 56px;
          }
        }

        > span.inner {
          &:nth-child(0) {
            grid-area: inner_text_1;
          }

          &:nth-child(1) {
            grid-area: inner_text_2;
          }
        }
      }

      @media screen and (max-width: 675px) {
        font-size: 20px;
      }

      @media screen and (max-width: 475px) {
        font-size: 18px;
      }
    }
  }
}
