#app.main {
  .spotlight-container {
    padding-left: 200px;
    padding-right: 200px;

    @media screen and (max-width: 1280px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media screen and (max-width: 675px) {
      padding-left: 0;
      padding-right: 0;
    }

    .spotlight {
      background-color: $black;
      color: $white;
      padding: 64px;
      clip-path: polygon(20px 20px, 100% 0%, 100% 100%, 0% 100%);
      margin: 42px 0;
      min-height: 500px;

      @media screen and (max-width: 675px) {
        min-height: auto;
        margin: 0;
        margin-bottom: 32px;
        padding: 32px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }

      h1.title,
      h2.subtitle,
      p.content,
      ul,
      li,
      a,
      span{
        color: $white;
        text-align: left;
        line-height: 1.6;
      }

      p.content,
      ul {
        margin: 32px 0;
        font-size: 18px;

        @media screen and (max-width: 675px) {
          margin: 16px 0;
          font-size: 14px;
        }
      }

      h1:first-child {
        margin-bottom: 0.5em;
      }

      h1.title {
        font-size: 26px;
        line-height: 1.2;

        @media screen and (max-width: 675px) {
          font-size: 24px;
        }
      }
    }
  }
}