.spotlight {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  width: $spotlight-width;
  margin: 2rem;
  padding: 2rem;
  
  h1,
  h2,
  h3,
  p,
  span {
    line-height: 1.6;
    letter-spacing: 1.5pt;
    color: $dark;
  }

  @media screen and (max-width: calc(#{$spotlight-width} + 2rem * 2)) {
    width: auto;
  }

  @media screen and (max-width: 720px) {
    margin: 0;
  }
}