@import '@/assets/scss/color';

// Mobile screen width
$mobile: 900px;

// Text style for sponsor level
h2.level {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;

    @media screen and (max-width: $mobile) {
        font-size: 1.66em;
        margin-bottom: 1em;
        text-align: start;
    }
}