#team {
  &.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: $white !important;
    color: $black !important;

    @media screen and (max-width: 1280px) {
      padding: 100px 0;
    }

    @media screen and (max-width: 960px) {
      padding: 0;
    }
  }

  .team {
    &-wrapper {
      position: relative;
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;

      @media screen and (max-width: 960px) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
      }

      > .team-subview {
        width: 100%;
      }

      .empty-block {
        height: 100vh;
      }
    }
  }

  @include Tab;
  @include Staff;
  @include Sponsor;
}
