.traffic {
  &.main-container {
    padding-left: 200px;
    padding-right: 200px;

    @media screen and (max-width: 1280px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media screen and (max-width: 900px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &-flow {
    position: relative;
    width: 100%;
    padding: 64px 140px;
    box-sizing: border-box;

    @media screen and (max-width: 1600px) {
      padding: 64px 0;
    }
  
    @media screen and (max-width: 1200px) {
      overflow-x: scroll;
    }

    > img {
      width: 100%;

      @media screen and (max-width: 1200px) {
        height: 320px;
        width: auto;
      }
    }
  }

  .hint {
    display: none;
    margin: 1rem auto;
    
    p {
      text-align: center;
      font-size: 16px;
      color: $dark-2;

      span {
        margin: 0 1rem;
      }
    }

    @media screen and (max-width: 1200px) {
      display: block;
    }
  }
}

@mixin trafficDarkImg {
  .traffic-flow > img {
    filter: invert(85%);
  }
}
