#venue {
  .Logo {
    width: 457px;
    height: 190px;
    object-fit: contain;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
  .background-image {
    position: fixed;
    background-color: rgba($white, 0);
    height: calc(100vw / 16 * 9);
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 0;
    transform-origin: 0 0;
    margin-top: $navbar-height-mobile;

    @include for-size(lg) {
      margin-top: $navbar-height;
    }

    @media screen and (orientation: landscape) and (max-width: 1200px) {
      // transform: scale(1.4);
    }

    @media screen and (orientation: portrait) and (max-width: 1200px) {
      // transform: translate(0, 100vh) rotate(-90deg) scale(2);
    }

    .image-wrapper {
      position: relative;
    }

    .Group-9 {
      &-container {
        position: relative;
        width: 100%;
        height: 100%;
      }

      width: 100%;
      height: auto;
    }

    .direction-1 {
      position: absolute;
      left: 13%;
      bottom: 75%;
    }
    .direction-2 {
      position: absolute;
      right: 5%;
      bottom: 59%;
    }
  }

  &.main-container {
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgba(#f7f8f9, 0.8) !important;

    @media screen and (max-width: 1280px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media screen and (max-width: 900px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .map {
    &-container {
      position: relative;
      width: 72%;
    }
    width: 100%;
    margin-bottom: 60px;

    &-3f,
    &-4f {
      margin-left: 2.3%;
    }

    .floor-container {
      background: $black;
      position: absolute;
      right: -20%;
      bottom: -10%;
      transform: skewX(-15deg);
      transform-origin: center;
      border-radius: 18px;

      @media screen and (max-width: 900px) {
        right: -10%;
        bottom: -8%;
      }

      @media screen and (max-width: 720px) {
        bottom: -5%;
        border-radius: 10px;
      }

      .floor {
        color: $white;
        transform: skewX(15deg);
        padding: 18px;
        font-size: 40px;

        @media screen and (max-width: 900px) {
          padding: 16px;
          font-size: 30px;
        }

        @media screen and (max-width: 720px) {
          padding: 12px;
          font-size: 24px;
        }

        @media screen and (max-width: 480px) {
          padding: 8px;
          font-size: 20px;
        }

        @media screen and (max-width: 375px) {
          padding: 8px;
          font-size: 20px;
        }
      }
    }
  }
}
