#venue {
  &.main-container {
    padding-left: 200px;
    padding-right: 200px;
  
    @media screen and (max-width: 1280px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media screen and (max-width: 900px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .map {
    &-container {
      position: relative;
      width: 72%;
    }
    width: 100%;
    margin-bottom: 60px;

    &-3f,
    &-4f {
      margin-left: 2.3%;
    }

    .floor-container {
      background: $black;
      position: absolute;
      right: -20%;
      bottom: -10%;
      transform: skewX(-15deg);
      transform-origin: center;
      border-radius: 18px;

      @media screen and (max-width: 900px) {
        right: -10%;
        bottom: -8%;
      }

      @media screen and (max-width: 720px) {
        bottom: -5%;
        border-radius: 10px;
      }

      .floor {
        color: $white;
        transform: skewX(15deg);
        padding: 18px;
        font-size: 40px;

        @media screen and (max-width: 900px) {
          padding: 16px;
          font-size: 30px;
        }

        @media screen and (max-width: 720px) {
          padding: 12px;
          font-size: 24px;
        }

        @media screen and (max-width: 480px) {
          padding: 8px;
          font-size: 20px;
        }

        @media screen and (max-width: 375px) {
          padding: 8px;
          font-size: 20px;
        }
      }
    }
  }
}
