@mixin dark {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $black;
    z-index: -1;
  }
  @include container($black, $white);
  @include navbar($black, $dark-1, $white, $dark-3);
  @include navbarDarkIcon;

  @include footer($black, $dark-4);
  @include agenda($black, $dark-1, $white, $dark-3);

  @include trafficDarkImg;
}