@mixin dark {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $blue;
    z-index: -1;
  }
  @include container($blue, $white);
  @include navbar($blue, $blue-1, $white, $blue-3);
  @include navbarDarkIcon;

  @include footer($blue, $blue-1);
  @include agenda($blue, $blue-1, $white, $blue-3);

  @include trafficDarkImg;
}
