@mixin rainbow {
  .banner-bg {
    svg {
      rect {
        @media (min-width: 615.1px) {
          &.box-1-1 {
            fill: $red;
            transition: fill ease-in-out .3s;
          }
  
          &.box-2-1 {
            fill: $orange;
            transition: fill ease-in-out .3s;
          }
  
          &.box-3-1 {
            fill: $yellow;
            transition: fill ease-in-out .3s;
          }
  
          &.box-4-1 {
            fill: $green;
            transition: fill ease-in-out .3s;
          }
  
          &.box-5-1 {
            fill: $blue;
            transition: fill ease-in-out .3s;
          }
  
          &.box-6-1 {
            fill: $purple;
            transition: fill ease-in-out .3s;
          }
        }

        @media screen and (min-width: 520px) and (max-width: 615px) {
          &.box-1-1 {
            fill: $red;
            transition: fill ease-in-out .3s;
          }
  
          &.box-2-1 {
            fill: $orange;
            transition: fill ease-in-out .3s;
          }
  
          &.box-3-1 {
            fill: $yellow;
            transition: fill ease-in-out .3s;
          }
  
          &.box-3-2 {
            fill: $green;
            transition: fill ease-in-out .3s;
          }
  
          &.box-4-2 {
            fill: $blue;
            transition: fill ease-in-out .3s;
          }
  
          &.box-5-2 {
            fill: $purple;
            transition: fill ease-in-out .3s;
          }
        }

        @media screen and (min-width: 420px) and (max-width: 520px) {
          &.box-1-1 {
            fill: $red;
            transition: fill ease-in-out .3s;
          }
  
          &.box-2-1 {
            fill: $orange;
            transition: fill ease-in-out .3s;
          }
  
          &.box-3-1 {
            fill: $yellow;
            transition: fill ease-in-out .3s;
          }
  
          &.box-2-2 {
            fill: $green;
            transition: fill ease-in-out .3s;
          }
  
          &.box-3-2 {
            fill: $blue;
            transition: fill ease-in-out .3s;
          }
  
          &.box-4-2 {
            fill: $purple;
            transition: fill ease-in-out .3s;
          }
        }

        @media screen and (max-width: 419px) {
          &.box-1-1 {
            fill: $red;
            transition: fill ease-in-out .3s;
          }
  
          &.box-2-1 {
            fill: $orange;
            transition: fill ease-in-out .3s;
          }
  
          &.box-3-1 {
            fill: $yellow;
            transition: fill ease-in-out .3s;
          }
  
          &.box-1-2 {
            fill: $purple;
            transition: fill ease-in-out .3s;
          }
  
          &.box-2-2 {
            fill: $blue;
            transition: fill ease-in-out .3s;
          }
  
          &.box-3-2 {
            fill: $green;
            transition: fill ease-in-out .3s;
          }
        }
      }
    }
  }
}